@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-image: url("./quotes-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10vh;
}

.wrapper {
    background-color: #0000009c;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh;
    color: #e0e0e0;
    padding: 5%;
    width: 55%;
}

#new-quote {
    padding: 20px;
    border-radius: 50px;
    background-color: #fdd835;
    outline: none;
    cursor: pointer;
    font-size: 1.15rem;
    border: none;
    transition: background-color 0.6s;
    margin-top: 20px;
}

#new-quote:hover {
    background-color: #dab203;
}

#quote {
    font-size: 1.6rem;
}

#author {
    font-size: 1.4rem;
    font-weight: 600;
}